
    location := d.Get("location").(string)

    if location == "global" {
        if v, ok := d.GetOk("default_storage_location"); ok {
            obj["defaultStorageLocation"] = v.(string)
        }
    } else {
        if v, ok := d.GetOk("kms_key_name"); ok {
            obj["kmsKeyName"] = v.(string)
        }
    }

    log.Printf("[DEBUG] ENCODER RETURNING: %s", obj)
    return obj, nil