package google

import (
	"fmt"
	"testing"

	"github.com/hashicorp/terraform-plugin-sdk/v2/helper/resource"
	"github.com/hashicorp/terraform-plugin-sdk/v2/terraform"
)

func testAccCheckObservabilitySettingsDestroyProducer(s *terraform.State) error {
	for _, rs := range s.RootModule().Resources {
		if rs.Type != "google_observability_settings" {
			continue
		}

		// If the resource is still present in the state, return an error.
		return fmt.Errorf("google_observability_settings resource %q still exists in state, but it should have been removed due to exclude_delete", rs.Primary.ID)
	}

	// Successfully removed from state
	return nil
}
