    // The ID is in the format (organizations|folders|projects)/<scope-id>/locations/<location>/settings
    r := regexp.MustCompile(`^(organizations|folders|projects)/([^/]+)/locations/([^/]+)/settings$`)
    matches := r.FindStringSubmatch(d.Id())
    if len(matches) != 4 {
        return nil, fmt.Errorf("unexpected format of ID (%s), expected (organizations|folders|projects)/<scope-id>/locations/<location>/settings", d.Id())
    }

    scopeType := matches[1]
    scopeId := matches[2]
    location := matches[3]

    if scopeType != "projects" {
        return nil, fmt.Errorf("invalid scope type %s for project settings import", scopeType)
    }

    if err := d.Set("project", scopeId); err != nil {
        return nil, fmt.Errorf("error setting project: %s", err)
    }
    if err := d.Set("location", location); err != nil {
        return nil, fmt.Errorf("error setting location: %s", err)
    }

    return []*schema.ResourceData{d}, nil
