    if _, ok := d.GetOk("project_settings"); ok {
        d.Set("folder_settings", nil)
        d.Set("organization_settings", nil)
    } else if _, ok := d.GetOk("folder_settings"); ok {
        d.Set("project_settings", nil)
        d.Set("organization_settings", nil)
    } else if _, ok := d.GetOk("organization_settings"); ok {
        d.Set("project_settings", nil)
        d.Set("folder_settings", nil)
    }
    return nil
