resource "google_observability_settings" "primary" {
  provider = google-beta
  location = "us"

  organization_settings {
    organization = "{{index $.Vars "org_id"}}"
    kms_key_name             = "{{index $.Vars "kms_key_name"}}"
  }
}