resource "google_observability_settings" "primary" {
  provider = google-beta
  location     = "us-central1"

  organization_settings {
    organization = "{{index $.Vars "org_id"}}"
    kms_key_name             = "{{index $.Vars "updated_kms_key_name"}}"
  }
}
