resource "google_observability_settings" "primary" {
  organization = "{{index $.Vars "org_id"}}"
  provider = google-beta

  location     = "us-central1"
  default_storage_location = "{{index $.Vars "default_storage_location"}}"
  kms_key_name             = "{{index $.Vars "kms_key_name"}}"
}