resource "google_observability_settings" "primary" {
  provider = google-beta
  location = "us-central1"

  project_settings {
    project = {{index $.Vars "project_id"}}
    default_storage_location = "{{index $.Vars "default_storage_location"}}"
    kms_key_name             = "{{index $.Vars "kms_key_name"}}"
  }
}