resource "google_observability_settings" "primary" {
  provider = google-beta
  location = "us"

  project_settings {
    project = "{{index $.Vars "project_id"}}"
    kms_key_name             = "{{index $.Vars "updated_kms_key_name"}}"
  }
}
