resource "google_folder" "test_folder" {
  provider     = google-beta
  display_name = "tf-test-obs-%{random_suffix}"
  parent       = "organizations/{{index $.TestEnvVars "org_id"}}"
}

resource "google_observability_settings" "primary" {
  provider = google-beta

  folder   = "{{index $.Vars "folder_id"}}"
  location = "us-central1"
  default_storage_location = "{{index $.Vars "default_storage_location"}}"
  kms_key_name             = "{{index $.Vars "kms_key_name"}}"
  depends_on = [google_folder.test_folder]
}