resource "google_folder" "test_folder" {
  provider     = google-beta
  display_name = "tf-test-obs-%{random_suffix}"
  parent       = "organizations/{{index $.TestEnvVars "org_id"}}"
}

resource "google_observability_settings" "primary" {
  provider = google-beta
  location = "us-central1"

  folder_settings {
    folder   = google_folder.test_folder.folder_id
    kms_key_name             = "{{index $.Vars "updated_kms_key_name"}}"
  }
  depends_on = [google_folder.test_folder]
}
