    if v := res["project_settings"]; v != nil {
        if err := d.Set("project_settings", flattenObservabilitySettingsProjectSettings(v, d, config)); err != nil {
            return fmt.Errorf("Error reading Settings: %s", err)
        }
    } else if v := res["folder_settings"]; v != nil {
        if err := d.Set("folder_settings", flattenObservabilitySettingsFolderSettings(v, d, config)); err != nil {
            return fmt.Errorf("Error reading Settings: %s", err)
        }
    } else if v := res["organization_settings"]; v != nil {
        if err := d.Set("organization_settings", flattenObservabilitySettingsOrganizationSettings(v, d, config)); err != nil {
            return fmt.Errorf("Error reading Settings: %s", err)
        }
    }

    if err := d.Set("name", flattenObservabilitySettingsName(res["name"], d, config)); err != nil {
        return fmt.Errorf("Error reading Settings: %s", err)
    }
    if err := d.Set("service_account_id", flattenObservabilitySettingsServiceAccountId(res["serviceAccountId"], d, config)); err != nil {
        return fmt.Errorf("Error reading Settings: %s", err)
    }
